@import url(null.css);
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Yellowtail&display=swap");
@font-face {
  font-family: "Markella";
  src: url(../fonts/Markella.woff) format("woff"),
    url(../fonts/Markella.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WoodenShipDecorated";
  src: url(../fonts/WoodenShipDecorated.woff) format("woff"),
    url(../fonts/WoodenShipDecorated.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000;
  color: rgb(255, 255, 255);
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

nav > ul > li {
  display: inline-block;
  font-family: "Comforter", cursive;
  font-size: 60px;
  color: rgb(226, 15, 15);
  text-shadow: 5px 5px 5px rgb(214, 12, 12);
  padding: 30px;
  margin-bottom: 30px;
}
.header {
  text-align: center;
}
h1,
h2 {
  font-family: "WoodenShipDecorated", cursive;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 10px 10px 40px rgb(255, 251, 251);
  margin: 0 10px 30px;
}
h1 {
  margin-top: 10px;
  font-size: 100px;
}
h2 {
  font-size: 70px;
}
h3 {
  font-family: "Comforter", cursive;
  font-size: 50px;
  margin-bottom: 15px;
}
p {
  display: inline-block;
  overflow: auto;
  font-family: "Markella", cursive;
  font-size: 25px;
  max-width: 600px;
}
div {
  margin-bottom: 70px;
}
.block-1 > p {
	max-height: 400px;
}
.content-1 > p {
  max-height: 450px;
}
.content-2 > p {
  max-height: 670px;
}
.content-3 > p {
  max-height: 400px;
}
.content-4 > p {
  max-height: 450px;
}
.block-3 > p {
  max-height: 700px;
}
.block-3 {
  text-align: center;
}
footer > ul > li {
  font-family: "Yellowtail", cursive;
  text-align: center;
}
